<div class="skin-blue">
  <div class="wrapper" style="height: 69px">
    <header class="main-header" style="max-height: 69px;height: 69px;">

      <a href="index2.html" class="logo" style="height: 100%;width: 369px;border-right:1px #eaeaea solid; ">
        <img src="./assets/Logo.png" class="logo-lg" style="height: 69px;">
      </a>

      <nav class="navbar navbar-static-top" style="height: 100%;display: block;    overflow: hidden;">
        <a href="#" class="sidebar-toggle" data-toggle="push-menu" role="button">
          <span class="sr-only">Toggle navigation</span>
        </a>
        <div style="width: 30%; float: left; margin-top: 13px;">
          <img src="./assets/loop.png" style="    border-left: 1px #b2b3bd solid;">
          <input type="text" placeholder="Rechrche" style="border: none;">
        </div>

        <div class="navbar-custom-menu">
          <ul class="nav navbar-nav" style="height: 30px;width: 220px;">
            <li class="dropdown messages-menu">
              <img src="./assets/msg.png">
            </li>
            <li class="dropdown messages-menu">
              <img src="./assets/notif.png">
            </li>
            <li class="dropdown messages-menu">
              <img src="./assets/pr.png">
            </li>
            <li class="dropdown messages-menu">
              <img src="./assets/more.png">
            </li>
            <li>
              <a href="#" data-toggle="control-sidebar"><i class="fa fa-gears"></i></a>
            </li>
          </ul>
        </div>

      </nav>
    </header>
  </div>
</div>
<div class="row">
  <div class="menu" style="width: 384px;background-color: #018ddb">
    <ul>
      <li (click)="clikedelement==='l1'?clikedelement='':clikedelement='l1'" [ngClass]="{'active':clikedelement=='l1'}">
        <div style="padding-left: 60px"><img src="./assets/requesticon.png"> Mes demandes <span
          style="float: right;margin-right: 50px; font-weight: bolder;color: #4eafe6;">+</span></div>
        <ul>
          <li (click)="clikedelement='l1.l1'">
            <div><img src="./assets/allrequest.png">Tous mes demandes</div>
          </li>
          <li (click)="clikedelement='l1.l2'">
            <div><img src="./assets/myrequest.png"> Abonnement</div>
          </li>
        </ul>
      </li>
      <li (click)="clikedelement='l2'" [ngClass]="{'active':clikedelement=='l2'}">
        <div style="padding-left: 60px"><img src="./assets/compteicon.png">Mon Compte</div>
      </li>
    </ul>
    <div class="floatingNotifParent" *ngIf="showNotif">
      <div class="floatingNotif"><span class="closeFloating" (click)="showNotif=false">x</span>
        <div style="height:100%;"><p style="padding-top: 20%;color: #cde4ae;width: 70%;
    height: 60%;">Déposer une nouvelle demande</p>
          <div class="btn btn-success"
               style="background-color: rgba(232, 236, 244, 0.25);margin-top:20px;border: none;padding: 10px 40px 10px 40px">
            Créer
          </div>
        </div>
      </div>
    </div>

    <div class="disconnectbtn" (click)="logout()"><img src="./assets/disconnect.png">Se deconnecter</div>
  </div>
  <div style="background-color: #c9cccb;height: 100vh;width: calc( 100% - 384px )">
    <router-outlet></router-outlet>
  </div>

</div>




