.mat-radio-button ~ .mat-radio-button {
  margin-left: 52px;
}
.example-form {
  min-width: 120px;
  max-width: 300px;
  width: 100%;
}

.example-full-width {
  width: 100%;
}

ngb-carousel img{
  height: 500px;
}

@media only screen and (max-width: 300px) {
  ngb-carousel img{
    height: 200px;
  }}

label.signinForm{
  font-size: 13px;
  background: #0082ca;
  border: #0082ca;
  margin: 3px;
}
label.signinForm.active{
  font-size: 13px;
  background: #018ddb!important;
  border: #018ddb!important;
  border-radius: 6px!important;

}

.form-row{
  margin: 20px 0px 20px 0px;

}

